<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Portfolio</title>
    <style>

    </style>
</head>
<body>
    <main class="form-signin w-100 m-auto">
        <section class="py-5 container">    
            <div class="d-grid gap-2 col-6 mx-auto">
              <h2 class="mb-3 text-center">Ваш аккаунт</h2>
              <div class="row g-4 row-cols-1">
                <div class="col text-center">
                  {% if acaunt %}
                    {% for el in acaunt %}
                        <div class=" mb-5">
                            <div class="card-body">
                                <h5 class="card-title">{{ el.name }} {{ el.sname }} {{ el.lname }}</h5>
                                <p class="card-text">Email: {{ el.email }}</p>
                                <p class="card-text">Университет: {{ el.universitet }}</p>
                                <p class="card-text">Группа: {{ el.group }}</p>
                                <p class="card-text">Проект: {{ el.project }}</p>
                                <p class="card-text">Загруженность: {{ el.load }}</p>
                                <div>
                                    <a href="{%url 'forms'%}" class="btn btn-dark">Добавить проект</a>
                                    <a href="{%url 'main'%}" class="btn btn-danger">Назад</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>У вас нет записей!</p>
                  {% endif %}
                </div>
              </div>
            </div>
        </section>
    </main>
</body>
</html>
