<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Form</title>
</head>
<body>
    <main class="form-signin w-100 m-auto">
        <section class="py-5 container">    
            <div class="d-grid gap-2 col-6 mx-auto">
              <h2 class="mb-3 text-center">Добавьте свой проект</h2>
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-12">
                    {{ forms.nikname }}
                  </div>
                    <div class="col-12">
                      <label class="form-label">Название проекта</label>
                      {{ forms.project }}
                    </div>
                  <div class="col-sm-12">
                    <label class="form-label">Описание проекта</label>
                    {{ forms.description }}
                  </div>
      
                  <div class="col-sm-6">
                    <label class="form-label">Файл проекта</label>
                    {{ forms.file_project }}
                  </div>
      
                  <div class="col-sm-6">
                    <label class="form-label">Документация проекта</label>
                    {{ forms.file_document }}
                  </div>
      
                  <div class="col-12">
                    <label class="form-label">Название конкурса</label>
                    {{ forms.event }}
                  </div>
                  <div class="col-12">
                    <label class="form-label">Результат</label>
                    {{ forms.result }}
                  </div>
                  <span>{{ error }}</span>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-dark" type="submit">Далее</button>
                    <a href="{%url 'main'%}" class="btn btn-danger">Назад</a>
                  </div>
                </div>
              </form>
            </div>
        </section>
    </main>
</body>
</html>