<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Portfolio</title>
</head>
<body>
    <header class="p-3 mb-3 border-bottom bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{%url 'acaunt'%}" class="nav-link px-2 text-white">Аккаунт</a></li>
              <li><a href="{%url 'student'%}" class="nav-link px-2 text-white">Проекты</a></li>
              <li><a href="{%url 'main'%}" class="nav-link px-2 text-white">Главная страница</a></li>
            </ul>
          </div>
        </div>
    </header>
    <main class="form-signin w-100 m-auto">
        <section class="py-5 container">    
            <div class="d-grid gap-2 col-6 mx-auto">
              <h2 class="mb-3 text-center">Проект</h2>
              <div class="row g-4 row-cols-1">
                <div class="col align-items-start">
                  {% if pro %}
                    {% for em in pro %}
                        <div class="card mb-5">
                            <div class="card-body">
                                <h5 class="card-title">{{ em.project }}</h5>
                                <p class="card-text">Никнейм: {{ em.nikname }}</p>
                                <p class="card-text">Название: {{ em.description }}</p>
                                <p class="card-text">Описание проекта: {{ em.description }}</p>
                                <p class="card-text">URL проекта: {{ em.file_project }}</p>
                                <p class="card-text">URL документации проекта: {{ em.file_document }}</p>
                                <p class="card-text">Название конкурса: {{ em.event }}</p>
                                <p class="card-text">Результат: {{ em.result }}</p>
                                <a href="update/{{em.id}}" class="btn btn-dark">Редактировать</a>
                                <a href="delete/{{em.id}}" class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>У вас нет записей!</p>
                  {% endif %}
                </div>
              </div>
            </div>
        </section>
    </main>
</body>
</html>