<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Form</title>
</head>
<body>
    <main class="form-signin w-100 m-auto">
        <section class="py-5 container">    
            <div class="d-grid gap-2 col-6 mx-auto">
              <h1>Редактирование</h1>
              <form method="POST">
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-12">
                    <label class="form-label">Название проекта</label>
                    <input class="form-control" type="text" name="name" value="{{pro.project}}" />
                  </div>
                  <div class="col-sm-12">
                    <label class="form-label">Описание проекта</label>
                    <input class="form-control" type="text" name="name" value="{{pro.description}}" />
                  </div>
      
                  <div class="col-sm-6">
                    <label class="form-label">Файл проекта</label>
                    <input class="form-control" type="text" name="name" value="{{pro.file_project}}" />
                  </div>
      
                  <div class="col-sm-6">
                    <label class="form-label">Документация проекта</label>
                    <input class="form-control" type="text" name="name" value="{{pro.file_document}}" />
                  </div>
      
                  <div class="col-12">
                    <label class="form-label">Название конкурса</label>
                    <input class="form-control" type="text" name="name" value="{{pro.event}}" />
                  </div>
                  <div class="col-12">
                    <label class="form-label">Результат</label>
                    <input class="form-control" type="text" name="name" value="{{pro.result}}" />
                  </div>
                  <span>{{ error }}</span>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-dark" type="submit">Сохранить</button>
                    <a href="{%url 'pro'%}" class="btn btn-danger">Назад</a>
                  </div>
                </div>
              </form>
            </div>
        </section>
    </main>
</body>
</html>
